torch==2.9.0
torchmetrics==1.8.2
ultralytics==8.3.221
pandas==2.3.3
numpy==2.0.2
opencv-python-headless==4.12.0.88
h5py==3.15.0
matplotlib==3.10.0
scikit-learn==1.6.1
pycocotools==2.0.10
./ait_sdk-0.1.24-py3-none-any.whl
